@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-background: #16A34A;
    --secondary-background: #FFFFFF;

    --primary-foreground: #181f36;
    --secondary-foreground: #181f36;

    --primary: #F2F5F9;
    --secondary: #166534;

    --accent: #F2F5F9;
    --accent-foreground: #1C0B02;

    --destructive: #FF0000;
    --destructive-foreground: #F9FAFC;

    --radius: 0.5rem;
  }

  .dark {
    --primary-background: #070707;
    --secondary-background: #FFFFFF;

    --primary-foreground: #d0d7ff;
    --secondary-foreground: #181f36;

    --primary: #f9fbff; 
    --secondary: #1c1e28;

    --accent: #2d3142;
    --accent-foreground: #f9fbff;

    --destructive: #9f1a1a;
    --destructive-foreground: #f9fbff;
  }
}

@layer base {
  * {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
    @apply text-primaryForeground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .btn-primary {
    @apply p-1 text-2xl rounded-lg bg-primary
  }

  .btn-secondary {
    @apply p-1 text-2xl rounded-lg border border-secondaryForeground
  }

  .btn-primary:hover, .btn-secondary:hover {
    @apply opacity-50;
  }

  .progress-custom::-webkit-progress-bar {
    @apply bg-gray-200 rounded-lg; /* Fundo da barra */
  }

  .progress-custom::-webkit-progress-value {
    @apply bg-blue-500 rounded-lg; /* Cor da barra de progresso */
  }
}