@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #181f36;
    --foreground: #FFFFFF;

    --border: #E3E8F7;
    --input: #E3E8F7;
    --card: #FFFFFF;

    --primary: #1C0B02;

    --secondary: #F2F5F9;

    --accent: #F2F5F9;
    --accent-foreground: #1C0B02;

    --destructive: #FF0000;
    --destructive-foreground: #F9FAFC;

    --ring: #ACB3C9;

    --radius: 0.5rem;
  }

  .dark {
    --background: #070707
    --foreground: #d0d7ff

    --border: #2d3142
    --input: #2d3142
    --card: #070707

    --primary: #f9fbff    
    --secondary: #1c1e28

    --accent: #2d3142
    --accent-foreground: #f9fbff

    --destructive: #9f1a1a
    --destructive-foreground: #f9fbff

    --ring: #2d3142
  }
}

@layer base {
  * {
    @apply border-border;
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
    @apply text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
